In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# from sklearn.preprocessing import StandardScaler    # 표준화.
# from sklearn.cluster import KMeans                  # 군집화

import warnings  
warnings.filterwarnings('ignore')

In [39]:
df = pd.read_csv('E:\기업프로젝트\profile_ymti_data_ver2\ymti_data.csv',engine='c',encoding='UTF-8')

In [40]:
df_edit = df.drop(['Unnamed: 0'],axis=1)
df_edit

,mem_no,mem_sex,mem_loc,mem_l_code,mem_birth_year,mem_birth_month,mem_birth_ddi,mate_slct,mate_slct_yn,mem_first_name,...,family_conts_upd_cnt,secret_item_yn,secret_yn,respect_person_cont,my_point_cont,ins_date,upd_date,pf_ins_yn,mbti_code,use_slct
0,1319014,m,i,i17,1959,3,3,w,y,종호,...,2,n,n,NaN,95,2020-09-26 10:47:22,2021-10-23 01:23:29,y,INFP,u
1,1350974,m,l,l04,1977,10,9,r,y,동점,...,58,n,n,NaN,90,2020-10-25 13:25:37,2021-09-25 16:11:00,y,INFJ,u
2,1613793,m,d,d06,1984,6,4,w,y,준수,...,0,n,n,NaN,90,2021-07-19 22:44:24,2021-07-24 08:13:44,y,INFJ,u
3,1186343,m,h,h10,1984,2,4,w,y,창환,...,0,n,n,NaN,80,2020-08-19 16:32:55,2021-09-23 14:46:39,y,INFP,u
4,166183,m,o,o00,1961,3,5,r,y,법재,...,4,n,n,NaN,80,2017-07-14 06:54:16,2021-09-02 15:25:44,y,ISFP,u
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34636,1662593,m,b,b16,1967,10,11,r,y,준기,...,0,n,n,NaN,90,2021-09-19 12:45:02,2021-09-19 21:40:44,y,INFJ,u
34637,1631390,f,a,a03,1967,9,11,r,y,은주,...,0,n,n,NaN,50,2021-08-09 22:30:05,2021-10-10 01:31:55,y,ENTP,u
34638,1646272,f,b,b39,1972,2,4,r,y,은희,...,0,n,n,NaN,0,2021-08-28 22:15:14,2021-09-23 20:51:40,y,INFJ,r
34639,1360816,f,e,e04,1995,11,3,w,y,혜진,...,0,n,n,NaN,100,2020-11-04 00:15:03,2021-10-02 23:21:50,y,INFP,u
34640,1679530,m,i,i09,1964,4,8,r,y,영석,...,1,n,n,NaN,88,2021-10-10 11:06:28,2021-10-12 02:43:46,y,ENFP,r

* 필요한 column 추출

In [41]:
df_edit=df_edit[['mem_no','mem_sex','mem_birth_year','mem_loc','mem_birth_ddi','mate_blood','pf_ins_yn', 'mbti_code','favor_food']]
df_edit

,mem_no,mem_sex,mem_birth_year,mem_loc,mem_birth_ddi,mate_blood,pf_ins_yn,mbti_code,favor_food
0,1319014,m,1959,i,3,1,y,INFP,"4,55,58,63,64,"
1,1350974,m,1977,l,9,3,y,INFJ,"31,56,87,100,"
2,1613793,m,1984,d,4,3,y,INFJ,"43,48,53,56,61,67,69,"
3,1186343,m,1984,h,4,3,y,INFP,"7,23,26,30,69,87,95,"
4,166183,m,1961,o,5,1,y,ISFP,"58,62,66,76,87,"
...,...,...,...,...,...,...,...,...,...
34636,1662593,m,1967,b,11,1,y,INFJ,"4,28,52,67,71,76,87,"
34637,1631390,f,1967,a,11,3,y,ENTP,"71,"
34638,1646272,f,1972,b,4,1,y,INFJ,"2,"
34639,1360816,f,1995,e,3,1,y,INFP,"87,93,95,97,99,"
34640,1679530,m,1964,i,8,2,y,ENFP,"28,31,71,88,"

* 나이 설정

In [42]:
# df_edit['mem_age'] = 0

for i in range(len(df_edit)):
    df_edit['mem_birth_year'][i] = 2021- df_edit['mem_birth_year'][i]+1
    # print(df_edit['mem_birth_year'][i])
    
df_edit = df_edit.rename(columns={'mem_birth_year':'mem_age'})

* 20,30대 비율

In [43]:
df_edit = df_edit[(df_edit['mem_age']>=20) & (df_edit['mem_age']<40)]
df_edit = df_edit.reset_index(drop=True)
df_edit

,mem_no,mem_sex,mem_age,mem_loc,mem_birth_ddi,mate_blood,pf_ins_yn,mbti_code,favor_food
0,1613793,m,38,d,4,3,y,INFJ,"43,48,53,56,61,67,69,"
1,1186343,m,38,h,4,3,y,INFP,"7,23,26,30,69,87,95,"
2,1525788,m,25,k,5,3,y,ENFP,"19,34,55,69,81,85,87,"
3,1613346,m,37,b,5,2,y,INFP,"5,48,57,66,67,68,69,"
4,1365388,f,36,i,6,2,y,ESFP,"37,57,64,84,85,98,100,"
...,...,...,...,...,...,...,...,...,...
9335,1680076,f,26,b,4,1,y,INTP,"43,50,57,61,71,95,98,"
9336,1629193,f,27,a,3,3,y,ESFP,"19,42,57,67,89,95,98,"
9337,1386307,f,32,b,10,3,y,ENTJ,"4,17,19,27,79,82,86,"
9338,1680916,m,37,i,5,1,y,ENFP,"4,5,28,54,71,75,95,"
9339,1360816,f,27,e,3,1,y,INFP,"87,93,95,97,99,"

* 음식 카테고리 분류

양식(W), 중식(C), 일식(J), 한식(K), 디저트(D), 기타(E)

In [16]:
# df_edit[df_edit['favor_food'].str.contains('77')]

# target_string = ['19','20','21']
# df_edit[df_edit['favor_food'].map(lambda x: all(string in x for string in target_string))]

In [44]:
food_cat=[]
for i in range(len(df_edit)):
    food_cat.append( df_edit['favor_food'][i].split(','))
    del food_cat[i][-1]

# del food2[-1]
food_cat[:5]

[['43', '48', '53', '56', '61', '67', '69'],
 ['7', '23', '26', '30', '69', '87', '95'],
 ['19', '34', '55', '69', '81', '85', '87'],
 ['5', '48', '57', '66', '67', '68', '69'],
 ['37', '57', '64', '84', '85', '98', '100']]

In [45]:
for i in range(len(food_cat)):
    for j in range(len(food_cat[i])):
        # 양식
        for a in range(1,8):
            if food_cat[i][j] == str(a):
                food_cat[i][j] = 'western'
        for c in range(11,14):
            if food_cat[i][j] == str(c):
                food_cat[i][j] = 'western' 
        for l in range(80,82):
            if food_cat[i][j] == str(l):
                food_cat[i][j] = 'western'    
        for o in range(89,92):
            if food_cat[i][j] == str(o):
                food_cat[i][j] = 'western' 
        for q in range(96,99):
            if food_cat[i][j] == str(q):
                food_cat[i][j] = 'western'
        if food_cat[i][j] == '100':
            food_cat[i][j] = 'western'
        
        # 디저트
        for b in range(8,11):
            if food_cat[i][j] == str(b):
                food_cat[i][j] = 'dessert'
        for d in range(14,16):
            if food_cat[i][j] == str(d):
                food_cat[i][j] = 'dessert'   
        for e in range(17,19):
            if food_cat[i][j] == str(e):
                food_cat[i][j] = 'dessert'          
        if food_cat[i][j] == '99':
            food_cat[i][j] = 'dessert'

         # 일식
        if food_cat[i][j] == '16':
            food_cat[i][j] = 'japanese'   
        for f in range(19,32):
            if food_cat[i][j] == str(f):
                food_cat[i][j] = 'japanese'

        # 중식
        for g in range(32,47):
            if food_cat[i][j] == str(g):
                food_cat[i][j] = 'chinese'
                
        # 한식
        for h in range(47,72):
            if food_cat[i][j] == str(h):
                food_cat[i][j] = 'korean' 
        for n in range(84,89):
            if food_cat[i][j] == str(n):
                food_cat[i][j] = 'korean'
        for p in range(92,96):
            if food_cat[i][j] == str(p):
                food_cat[i][j] = 'korean'

        # 기타(동남아 등)
        for k in range(72,80):
            if food_cat[i][j] == str(k):
                food_cat[i][j] = 'etc'
        for m in range(82,84):
            if food_cat[i][j] == str(m):
                food_cat[i][j] = 'etc'
 


food_cat[:8]

[['chinese', 'korean', 'korean', 'korean', 'korean', 'korean', 'korean'],
 ['western', 'japanese', 'japanese', 'japanese', 'korean', 'korean', 'korean'],
 ['japanese', 'chinese', 'korean', 'korean', 'western', 'korean', 'korean'],
 ['western', 'korean', 'korean', 'korean', 'korean', 'korean', 'korean'],
 ['chinese', 'korean', 'korean', 'korean', 'korean', 'western', 'western'],
 ['japanese', 'japanese', 'chinese', 'korean', 'korean', 'korean', 'western'],
 ['western', 'western', 'japanese', 'japanese', 'chinese', 'korean', 'korean'],
 ['western']]

In [46]:
# 리스트 중복제거
new_food_cat =[]

for i in range(len(food_cat)):
    new_food_cat.append(list(set(food_cat[i])))
    # result = ','.join(new_food_cat)
    

new_food_cat[:8]

[['chinese', 'korean'],
 ['western', 'korean', 'japanese'],
 ['western', 'chinese', 'korean', 'japanese'],
 ['western', 'korean'],
 ['western', 'chinese', 'korean'],
 ['western', 'chinese', 'korean', 'japanese'],
 ['western', 'chinese', 'korean', 'japanese'],
 ['western']]

In [47]:
df_edit.insert(9,"food_cat",new_food_cat)
df_edit

,mem_no,mem_sex,mem_age,mem_loc,mem_birth_ddi,mate_blood,pf_ins_yn,mbti_code,favor_food,food_cat
0,1613793,m,38,d,4,3,y,INFJ,"43,48,53,56,61,67,69,","[chinese, korean]"
1,1186343,m,38,h,4,3,y,INFP,"7,23,26,30,69,87,95,","[western, korean, japanese]"
2,1525788,m,25,k,5,3,y,ENFP,"19,34,55,69,81,85,87,","[western, chinese, korean, japanese]"
3,1613346,m,37,b,5,2,y,INFP,"5,48,57,66,67,68,69,","[western, korean]"
4,1365388,f,36,i,6,2,y,ESFP,"37,57,64,84,85,98,100,","[western, chinese, korean]"
...,...,...,...,...,...,...,...,...,...,...
9335,1680076,f,26,b,4,1,y,INTP,"43,50,57,61,71,95,98,","[western, chinese, korean]"
9336,1629193,f,27,a,3,3,y,ESFP,"19,42,57,67,89,95,98,","[western, chinese, korean, japanese]"
9337,1386307,f,32,b,10,3,y,ENTJ,"4,17,19,27,79,82,86,","[dessert, korean, western, etc, japanese]"
9338,1680916,m,37,i,5,1,y,ENFP,"4,5,28,54,71,75,95,","[western, etc, korean, japanese]"
9339,1360816,f,27,e,3,1,y,INFP,"87,93,95,97,99,","[western, dessert, korean]"

In [48]:
df_edit = df_edit.drop(['favor_food'],axis=1)
df_edit

,mem_no,mem_sex,mem_age,mem_loc,mem_birth_ddi,mate_blood,pf_ins_yn,mbti_code,food_cat
0,1613793,m,38,d,4,3,y,INFJ,"[chinese, korean]"
1,1186343,m,38,h,4,3,y,INFP,"[western, korean, japanese]"
2,1525788,m,25,k,5,3,y,ENFP,"[western, chinese, korean, japanese]"
3,1613346,m,37,b,5,2,y,INFP,"[western, korean]"
4,1365388,f,36,i,6,2,y,ESFP,"[western, chinese, korean]"
...,...,...,...,...,...,...,...,...,...
9335,1680076,f,26,b,4,1,y,INTP,"[western, chinese, korean]"
9336,1629193,f,27,a,3,3,y,ESFP,"[western, chinese, korean, japanese]"
9337,1386307,f,32,b,10,3,y,ENTJ,"[dessert, korean, western, etc, japanese]"
9338,1680916,m,37,i,5,1,y,ENFP,"[western, etc, korean, japanese]"
9339,1360816,f,27,e,3,1,y,INFP,"[western, dessert, korean]"

In [52]:
# # 아이디 생성
# import string
# import random

# number_of_strings = len(df_edit)+3
# length_of_string = 4
# id_list =[]
# for x in range(number_of_strings):
    
#   id_list.append(''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length_of_string)))
  
# id_list = list(set(id_list))
# len(id_list)

9340

In [53]:
# df_edit['mem_id'] = id_list

In [60]:
df_edit

,mem_no,mem_sex,mem_age,mem_loc,mem_birth_ddi,mate_blood,pf_ins_yn,mbti_code,food_cat,mem_id
0,1613793,m,38,d,4,3,y,INFJ,"[chinese, korean]",IQPy
1,1186343,m,38,h,4,3,y,INFP,"[western, korean, japanese]",sJjb
2,1525788,m,25,k,5,3,y,ENFP,"[western, chinese, korean, japanese]",BsPp
3,1613346,m,37,b,5,2,y,INFP,"[western, korean]",48Bj
4,1365388,f,36,i,6,2,y,ESFP,"[western, chinese, korean]",zQIe
...,...,...,...,...,...,...,...,...,...,...
9335,1680076,f,26,b,4,1,y,INTP,"[western, chinese, korean]",JHc9
9336,1629193,f,27,a,3,3,y,ESFP,"[western, chinese, korean, japanese]",oVNN
9337,1386307,f,32,b,10,3,y,ENTJ,"[dessert, korean, western, etc, japanese]",Ex2r
9338,1680916,m,37,i,5,1,y,ENFP,"[western, etc, korean, japanese]",zehr
9339,1360816,f,27,e,3,1,y,INFP,"[western, dessert, korean]",B5bd

In [61]:
# df_edit['food_cat'] = df_edit['food_cat'].apply(lambda x : (' ').join(x) )
# df_edit

* 새로운 csv파일 저장

In [62]:
new_data = df_edit.to_csv('E:\기업프로젝트\profile_ymti_data_ver2\ymti_edit_data.csv', index = None)